<a href="#" (click)="logout()">LogOut</a>
<div class="message-box container">
 
  <h1>Chat</h1>
  <div *ngFor="let message of messageList">
    <h5 id="username-text"></h5>
    <h5>{{ message.text }}</h5>
  </div>
</div>
<div class="input-box container">
  <form (ngSubmit)="addMessage(f)" #f="ngForm"> 
    <mat-form-field class="text-input" appearance="fill">
      <mat-label>What's on your mind?</mat-label>
      <input matInput type="text" name="messageInputText" ngModel/>
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
