<div class="container main">
  <div class="d-block">
    <label>{{ securityObject | json }}</label>
  </div>
  <div class="container auth-container">
    <div class="container user-entry">
      <h1 class="log-in-text">{{ isLoginMode ? "Sign In" : "Sign Up" }}</h1>

      <form
        (ngSubmit)="login(authForm)"
        #authForm="ngForm"
        class="example-form"
      >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            name="usernameInput"
            placeholder="Ex. pat@example.com"
            ngModel
            required
          />
          <!-- <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid username
          </mat-error> -->
          <!-- <mat-error *ngIf="emailFormControl.hasError('required')"> -->
          <!-- Username is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          id="password"
          appearance="fill"
        >
          <mat-label>Password</mat-label>
          <input
            type="text"
            matInput
            name="passwordInput"
            placeholder="Ex. pat@example.com"
            ngModel
            required
            minLength="6"
          />
          <!-- <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid password
          </mat-error> -->
          <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        <button
          type="submit"
          class="sign-in"
          [disabled]="!authForm.valid"
          color="primary"
          mat-raised-button
        >
          <span class="sign-in-text">{{
            isLoginMode ? "Login" : "Register"
          }}</span>
        </button>
        <button
          (click)="onSwitchMode()"
          type="button"
          class="sign-in"
          color="primary"
          mat-raised-button
        >
          <span class="sign-in-text">{{
            isLoginMode ? "Switch To Register" : "Switch To Login"
          }}</span>
        </button>
      </form>
    </div>
  </div>
</div>
